<!DOCTYPE html>
<html class="no-js">

<html>
	<head>
    <title>БСК Такси</title>
    
		{% load static %}

      <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  		<meta name="description" content="">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/main.css' %}" id="color-switcher-link">
      <link rel="stylesheet" href="{% static 'css/animations.css' %}">
      <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
      <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  		<script src="{% static 'js/bootstrap.js' %}"></script>
  		<script src="{% static 'js/bootstrap.min.js' %}"></script>



 	</head>
 	<body>
  <div class="preloader" id="preloader">
    <div class="preloader_image"></div>
  </div>
  <section class="page_topline ds ms columns_margin_0">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 text-center text-sm-left">
          <p class="fontsize_12 grey">
          </div>
        </div>
      </div>
    </section>

 	{% block content %}
  <section class="ls ms">

   <div class="container col-lg-8">
    <div class="row">
      <div class="col-lg-8 col-12">
        <a class="theme_button" href="" data-toggle="modal" data-target="#addnewdriver"><i class="rt-icon2-add"></i></a>
        <a class="theme_button color1" href="{% url 'logout' %}">Выйти</a>
        <a class="theme_button color1" href="{% url 'taxi_show_cashbox' %}">Касса</a>
        <a class="theme_button color1" href="{% url 'taxi_show_history' %}">История</a>
        {% if user.is_superuser %}
        <a class="theme_button color1" href="{% url 'taxi_admin_service_menu' %}">Service</a>
        {% endif %}
      </div>
      
    </div>
    <div class="row">
      <div class="col-lg-8 col-12">
        <a class="theme_button color1" href="{% url 'show_cars' %}">Авто</a>
        <a class="theme_button color1" href="{% url 'taxi_show_car_costs' %}">Расходы</a>
        {% if taxiadmin %}
        <a class="theme_button" href="" data-toggle="modal" data-target="#gas_upload"><i class="rt-icon2-download"></i></a>
        {% comment %} <a class="theme_button" href="{% url 'send_debts' %}"><i class="rt-icon2-mail"></i></a> {% endcomment %}
        {% endif %}
      </div>
    </div>
  </div> 
  <div class="container col-lg-4">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2>авто в работе: <span style="color: #fcca03">{{ cars_works }}</span></h2>
      </div>
    </div> 
  </div>
  <div class="container col-lg-12">
    <div class="row">
      <div class="col-lg-12">

        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
            <a href="#tab1" role="tab" data-toggle="tab">Работают <br><span style="font-family:'FontAwesome'; font-size: 1.2em;">{{ debt_of_works }}</span></a>
          </li>
          <li>
            <a href="#tab2" role="tab" data-toggle="tab">Уволены <br><span style="font-family:'FontAwesome'; font-size: 1.2em;">{{ debt_of_fired }}</span></a>
          </li>
        </ul>

        <div class="tab-content top-color-border">

          <div class="tab-pane fade in active" id="tab1">
            <table class="table_template darklinks table-hover">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Водитель</th>
                  <th>Номер В/У</th>
                  <th>Номер А/М</th>
                  <th>Марка А/М</th>
                  <th>Топливная карта</th>
                  <th>Топливная карта 2</th>
                  <th>Email</th>
                  <th>Ставка</th>
                  <th></th>
                  <th>Долг</th>
                </tr>
              </thead>
              <tbody>
                {% for driver in drivers_works %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="{% url 'show_driver' slug=driver.slug %}">{{ driver.second_name }} {{ driver.first_name }}</a></td>
                  <td>{{ driver.driver_license }}</td>
                  <td>{{ driver.car.car_number }}</td>
                  <td>{{ driver.car.car_brand }} {{ driver.car.car_model }}</td>
                  <td>{{ driver.fuel_card }}</td>
                  <td>{{ driver.fuel_card_2 }}</td>
                  <td>{{ driver.email }}</td>
                  <td>{{ driver.rate }}</td>
                  <td></td>
                  <td>{{ driver.debt }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="tab-pane fade" id="tab2">
            <table class="table_template darklinks table-hover">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Водитель</th>
                  <th>Номер В/У</th>
                  <th>Номер А/М</th>
                  <th>Марка А/М</th>
                  <th>Топливная карта</th>
                  <th>Топливная карта 2</th>
                  <th>Email</th>
                  <th>Ставка</th>
                  <th></th>
                  <th>Долг</th>
                </tr>
              </thead>
              <tbody>
                {% for driver in drivers_fired %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="{% url 'show_driver' slug=driver.slug %}">{{ driver.second_name }} {{ driver.first_name }}</a></td>
                  <td>{{ driver.driver_license }}</td>
                  <td>{{ driver.car.car_number }}</td>
                  <td>{{ driver.car.car_brand }} {{ driver.car.car_model }}</td>
                  <td>{{ driver.fuel_card }}</td>
                  <td>{{ driver.fuel_card_2 }}</td>
                  <td>{{ driver.email }}</td>
                  <td>{{ driver.rate }}</td>
                  <td></td>
                  <td>{{ driver.debt }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div> 

        </div>
        
      </div>
    </div>
  </div>
</section> 

<div class="modal bd-example-modal-lg" id="addnewdriver" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="text-uppercase pt-3">Создание нового водителя</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body col-sm-12 col-4 text-center">
          <form id="edit-driver"  class="shop-register" method="POST" action="{% url 'driver_add_new' %}">
            {% csrf_token %}
              <div class="row">
                <div class="col-lg-6 col-12">

                  <div class="form-group validate-required" id="last_name">
                    <label for="last_name" class="control-label">
                      <span class="grey">Фамилия</span>
                      <span class="required">*</span>
                    </label>

                    <input type="text" class="form-control " name="last_name" id="last_name" placeholder="Фамилия" value="" required>
                  </div>
                  <div class="form-group validate-required" id="first_name">
                    <label for="first_name" class="control-label">
                      <span class="grey">Имя</span>
                      <span class="required">*</span>
                    </label>

                    <input type="text" class="form-control " name="first_name" id="first_name" placeholder="Имя" value="" required>
                  </div>

                  <div class="form-group" id="third_name">
                    <label for="third_name" class="control-label">
                      <span class="grey">Отчество</span>
                    </label>
                    <input type="text" class="form-control " name="third_name" id="third_name" placeholder="Отчество" value="">
                  </div>

                  <div class="form-group validate-required" id="rate">
                    <label for="rate" class="control-label">
                      <span class="grey">Ставка</span>
                      <span class="required">*</span>
                    </label>

                    <input type="text" class="form-control " name="rate" id="rate" placeholder="Ставка" value="" required>
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group validate-required" id="driver_license">
                    <label for="driver_license" class="control-label">
                      <span class="grey">Номер В/У</span>
                    </label>

                    <input type="text" class="form-control " name="driver_license" id="driver_license" placeholder="Номер В/У" value="">
                  </div>

                  <div class="form-group validate-required" id="fuel_card">
                    <label for="fuel_card" class="control-label">
                      <span class="grey">Топливная карта</span>
                    </label>

                    <input type="text" class="form-control " name="fuel_card" id="fuel_card" placeholder="Топливная карта" value="">
                  </div>

                  <div class="form-group validate-required" id="fuel_card_2">
                    <label for="fuel_card_2" class="control-label">
                      <span class="grey">Топливная карта 2</span>
                    </label>

                    <input type="text" class="form-control " name="fuel_card_2" id="fuel_card_2" placeholder="Топливная карта 2" value="">
                  </div>

                  <div class="form-group validate-required" id="email">
                    <label for="email" class="control-label">
                      <span class="grey">Email</span>
                    </label>

                    <input type="email" class="form-control " name="email" id="email" placeholder="Email" value="">
                  </div>

                  <div class="form-group validate-required" id="car_obj">
                    <label for="car_obj" class="control-label">
                      <span class="grey">Авто</span>
                      <span class="required">*</span>
                    </label>
                    <select class="form-control" id="car_obj" name="car_obj">
                      {% for car in cars %}
                      <option value="{{ car }}">{{ car }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-lg-12 col-12">
                  <div class="form-group validate-required pt-4" id="active">
                    <div class="container-fluid py-2 flex-row">
                      <div class="d-flex flex-row-reverse">  
                        <ul class="ks-cboxtags pt-2">
                          <li class="">
                            <input type="checkbox" id="checkboxActive" value="AC" name="active" checked>
                            <label for="checkboxActive">Работает</label>
                          </li>
                        </ul> 
                      </div> 
                    </div> 
                  </div>
                </div>

                <div class="col-lg-12 col-12">
                  <div class="form-group validate-required" id="shedule">
                    <label for="shedule" class="control-label">
                      <span class="grey">График работы</span>
                    </label>
                    <div class="container">
                      <ul class="ks-cboxtags mt-3">
                        <li class="">
                          <input type="checkbox" id="checkboxMN" value="ПН" name="monday">
                          <label for="checkboxMN">ПН</label>
                        </li>
                        <li class="pl-5">
                          <input type="checkbox" id="checkboxTUE" value="ВТ" name="tuesday">
                          <label for="checkboxTUE">ВТ</label>
                        </li>
                        <li class="pl-5">
                          <input type="checkbox" id="checkboxWD" value="СР" name="wednesday">
                          <label for="checkboxWD">СР</label>
                        </li>
                        <li class="pl-5">
                          <input type="checkbox" id="checkboxTHR" value="ЧТ" name="thursday">
                          <label for="checkboxTHR">ЧТ</label>
                        </li>
                        <li class="pl-5">
                          <input type="checkbox" id="checkboxFR" value="ПТ" name="friday">
                          <label for="checkboxFR">ПТ</label>
                        </li>
                        <li class="pl-5">
                          <input type="checkbox" id="checkboxST" value="СБ" name="saturday">
                          <label for="checkboxST">СБ</label>
                        </li>
                        <li class="pl-5">
                          <input type="checkbox" id="checkboxSN" value="ВС" name="sunday">
                          <label for="checkboxSN">ВС</label>
                        </li>

                      </ul>
                    </div>    
                  </div>
                </div>
              </div>
          </form>
        </div>
      <div class="modal-footer col-4 col-lg-12">
        <a class="theme_button" href="#" data-dismiss="modal">ОТМЕНА</a>
        <button class="theme_button color1" type="submit" form="edit-driver">СОХРАНИТЬ </button>
      </div>

    </div>
  </div>
</div>

<div class="modal bd-example-modal-lg" id="gas_upload" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="text-uppercase pt-3">Загрузка данных по заправкам</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body col-sm-12 col-4 text-center">
          <form id="gas_upld"  enctype="multipart/form-data" class="shop-register" method="POST" action="{% url 'gas_upload' %}">
            {% csrf_token %}
              <div class="row">
                
                <div class="col-lg-12 col-12 text-left">
                  <div class="pb-2">
                    <p style="color:black;">Загружать только файлы <span style="color:red; font-weight: bold;">*.xls</span></p>
                  </div>
                  <div class="form-group validate-required" id="fuel_card">
                    <input type="file"  name="gas_file" id="gas_file" placeholder="Выберите файл для загрузки" value="" required>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optiongas" id="petrolplus" value="option1" checked> ges.petrolplus.ru
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optiongas" id="metan" value="option3"> Метан
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optiongas" id="new_metan" value="option4"> Метан Новый
                    </label>
                  </div>
                  <div id="fuelErrorPlace"></div>
                </div>
              </div>
          </form>
        </div>
      <div class="modal-footer col-4 col-lg-12">
        <a class="theme_button" href="#" data-dismiss="modal">ОТМЕНА</a>
        <button class="theme_button color1" type="submit" form="gas_upld" id="upload_button">ЗАГРУЗИТЬ</button>
      </div>

    </div>
  </div>
</div>

 	{% endblock %}




 	
 	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script src="{% static 'js/compressed.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% block custom_scripts %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript">
    window.onload = function() {
        document.getElementById('upload_button').addEventListener('click', checkUploadFile, false);
    }

    const checkUploadFile = async (event) => {

        let fuelErrorPlace = document.getElementById('fuelErrorPlace');
        fuelErrorPlace.innerHTML = "";
        let gas_file = document.getElementById('gas_file');
        if (gas_file.value == "") {
          event.preventDefault();
          fuelErrorPlace.innerHTML ='<p style="color:black; text-align: center;">Выберите файл для загрузки данных!!</p>';
        };
    };
  </script>  
  {% endblock %}
 	</body>	
</html>