{% extends 'taxiapp/base_taxi.html' %}


{% block content %}

<section class="ls ms ">
	<div class="container col-lg-12">
		<div class="row">
			<div class="col-lg-12 col-12">
				<a href="{% url 'taxi_show_index' %}" class="theme_button color1"><i class="rt-icon2-home"></i></a>
				{% if collector %}
				<a href="" class="theme_button" data-toggle="modal" data-target="#incass">ИНКАССАЦИЯ</a>
				{% endif %}
			</div>
			<div class="col-lg-12 col-12">
				<form id="edit_period" method="POST" action="{% url 'taxi_show_cashbox' %}">
				  {% csrf_token %}
				  <input class="date-as" type="date" id="start" name="trip_start" value="{{ date_start }}" min="2018-01-01" required="">
				  <input class="date-as" type="date" id="end" name="trip_end" value="{{ date_end }}" min="2018-01-01" required="">
				  <button class="theme_button color1" type="submit" form="edit_period"><i class="rt-icon2-magnifier"></i></button>
				  {% for message in messages %}
				  <p  style="color: red" class="text-uppercase" >* {{ message }} </p>
				  {% endfor %}
				</form>
			  </div>
		</div>
	</div>
	<div class="container col-lg-12">
		<div class="row">
			<div class="col-sm-12">
				<table class="table_template darklinks table-hover table_sticky">
					<thead class="thead-dark">
						<tr>
							<th width="20%" class="table_cell">Дата</th>
							<th width="20%" class="table_cell">Рабочий день</th>
							<th width="40%" class="table_cell">ФИО</th>
							<th style="text-align: right" class="table_cell">Наличные : {{ ca_cash }}</th>
							<th style="text-align: right" class="table_cell">Карта : {{ ca_cash_card }}</th>
						</tr>
					</thead>
					<tbody>
					{% for item in cashbox %}
					{% if item.cash < 0 or item.cash_card < 0 %}
						<tr class="table-danger">
					{% else %}
						<tr>
					{% endif %}
						<td>{{ item.date }}</td>
						<td>{{ item.working_day.date }}</td>
						<td>{{ item.working_day.driver.second_name }} {{ item.working_day.driver.first_name }} {{ item.working_day.driver.third_name }}</td>
						<td style="text-align: right" >{{ item.cash }}</td>
						<td style="text-align: right" >{{ item.cash_card }}</td>
					{% endfor %}
					</tbody>
				</table>
				{% if cashbox %}
				<table class="table_template darklinks table-hover">
					<thead class="thead-dark">
						<tr>
							<th style="text-align: right" width="80%">Остаток в кассе:</th>
							<th style="text-align: right">{{ ca_cash }}</th>
							<th style="text-align: right">{{ ca_cash_card }}</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				{% endif %}
			</div>
		</div>
	</div>
</section>

<div class="modal" id="incass" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="text-uppercase pt-3">Инкассация</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body col-lg-12 col-8">
				<form id="idincass" class="form" action="{% url 'taxi_incass' %}" method="POST">
					{% csrf_token %}
					<div class="form-group row">
						<label for="inputCash" class="col-sm-2 col-form-label pb-2">Наличные</label>
						<div class="col-sm-10 pb-2">
							<input type="text" name="input_cash" class="form-control" id="inputCash" placeholder="Наличные" value="">
						</div>
						<label for="inputCashCard" class="col-sm-2 col-form-label pb-2">Карта</label>
						<div class="col-sm-10 pb-2">
							<input type="text" name="input_cash_card" class="form-control" id="inputCashCard" placeholder="Карта" value="">
						</div>
					</div>							 
				</form> 
			</div>
			<div class="modal-footer col-lg-12 col-8">
				<a class="theme_button" href="#" data-dismiss="modal">Отмена</a>

				<button class="theme_button color1" type="submit" form="idincass">СОХРАНИТЬ </button>
			</div>
		</div>
	</div>
</div>

{% endblock %}