{% extends 'taxiapp/base_taxi.html' %}

{% load static %}

{% block content %}

<section class="ls ms">
	
	<div class="container col-lg-12">
		<div class="row">
			<div class="col-lg-12 col-12">
				<a href="{% url 'taxi_show_index' %}" class="theme_button color1"><i class="rt-icon2-home"></i></a>
				<a href="{% url 'taxi_show_car_costs' %}" class="theme_button">Назад</a>
			</div>
			<div class="col-lg-12 col-12">
				<form id="edit_period" class="form" method="POST" action="{% url 'taxi_show_cost_report' %}">
					{% csrf_token %}
					<div style="margin-bottom: 7px;">
						<input class="date-as" type="date" id="start" name="trip_start" value="{{ date_lte }}" min="2018-01-01" required>
						<input class="date-as" type="date" id="end" name="trip_end" value="{{ date_now }}" min="2018-01-01" required>
					</div>
					<div>
						<select class="" type="text"  name="car" form="edit_period" style="border: 1px solid #e6e4e4; border-radius: 4px; margin-bottom: 10px;">
							{% if car %}
							<option selected value="{{ car }}">{{ car }}</option>
							<option value="">...</option>
							{% else %}
							<option selected value="">Автомобиль</option>	
							{% endif %}
							{% for car in cars %}
							<option value="{{ car }}">{{ car }}</option>
							{% endfor %}
						</select>

						<select class="" id="inputCostitem" name="cost_item" form="edit_period" style="border: 1px solid #e6e4e4; border-radius: 4px;">
							{% if cost_item %}
							<option selected value="{{ cost_item }}" {% if cost_item.is_category %} style="font-weight: 600;" {% endif %}>{{ cost_item }}</option>
							<option value="">...</option>
							{% else %}
							<option selected value="">Статья затрат</option>
							{% endif %}
							{% for cost_item in cost_items %}
							<option value="{{ cost_item }}" {% if cost_item.is_category %} style="font-weight: 600;" {% endif %}>{{ cost_item.title }}</option>
							{% endfor %}
						</select> 
						<button class="theme_button color1" type="submit" form="edit_period"><i class="rt-icon2-magnifier"></i></button>
						{% for message in messages %}
						<p  style="color: red" class="text-uppercase" >* {{ message }} </p>
						{% endfor %}
					</div>

				</form>
			</div>
		</div>
	</div> 
	<div class="container col-lg-12">
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-sm">
					<thead class="thead-dark">
						<tr>
							<th>#</th>
							<th>Автомобиль</th>
							<th>Статья затрат</th>

							<th>Сумма : {% if total %}{{ total|floatformat:2 }}{% else %}0{% endif %}</th>
						</thead>
						<tbody>
							{% for car_cost in costs %}
								<tr class="table-info">
									<td>{{ forloop.counter }}</td>
									<td>{{ car_cost.0.car_number }}</td>
									<td></td>

									<td>{{ car_cost.2|floatformat:2 }}</td>
								</tr>
								{% if car_cost.1 %}
									{% for item in car_cost.1 %}
									<tr class="table-warning" >
										<td></td>
										<td>{{ item.0 }}</td>
										<td></td>

										<td>{{ item.2|floatformat:2 }}</td>
									</tr>
										{% if item.1 %}
										{% for i in item.1 %}
										<tr>
											<td></td>
											<td></td>
											<td>{{ i.0 }}</td>

											<td>{{ i.1|floatformat:2 }}</td>
										</tr>
										{% endfor %}
										{% endif %}
									{% endfor %}
								{% else %}

									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
										{% if car_cost.1.1 %}
										{% for i in car_cost.1.1 %}
										<tr>
											<td></td>
											<td></td>
											<td>{{ i.cost_item }}</td>
											<td></td>
											<td></td>
											<td></td>
											<td>{{ i.summ }}</td>
										</tr>
										{% endfor %}
										{% endif %}

								{% endif %}

							{% endfor %}
						</tbody>
				</table>
			</div>
		</div>
	</div>

</section>

<div class="modal" id="new-car-cost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="text-uppercase pt-3"> Новый расход </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body col-lg-12 col-12">
				<form id="add_car_cost" class="form" action="{% url 'car_costs_add_new' %}" method="POST">
					{% csrf_token %}
					<div class="form-group row">
						<label for="inputDate" class="col-sm-3 col-form-label pb-2">Дата документа</label>
						<div class="col-sm-9 pb-2">
							<input type="date" name="cost_date" class="form-control" id="inputDate">
						</div>
						<label for="inputNum" class="col-sm-3 col-form-label pb-2">Номер документа</label>
						<div class="col-sm-9 pb-2">
							<input type="text" name="cost_num" class="form-control" id="inputNum" placeholder="Номер документа">
						</div>
						<label for="inputCar" class="col-sm-3 col-form-label pb-2">Автомобиль</label>
						<div class="col-sm-9 pb-2">
							<select class="form-control" id="inputCar" name="car" form="add_car_cost" required>
							<option selected value="">...</option>	
							{% for car in cars %}
							<option value="{{ car }}">{{ car }}</option>
							{% endfor %}
							</select> 
						</div>
						<label for="inputCostitem" class="col-sm-3 col-form-label pb-2">Статья затрат</label>
						<div class="col-sm-9 pb-2">
							<select class="form-control" id="inputCostitem" name="cost_item" form="add_car_cost" required > 
							<option selected value="">...</option>
							{% for cost_item in cost_items_with_parent %}
							<option value="{{ cost_item }}">{{ cost_item.title }}</option>
							{% endfor %}
							</select> 
						</div>
						<label for="inputSumm" class="col-sm-3 col-form-label pb-2">Сумма</label>
						<div class="col-sm-9 pb-2">
							<input type="text" name="summ" class="form-control" id="inputSumm" placeholder="Сумма" required>
						</div>
						<label for="inputComment" class="col-sm-3 col-form-label pb-2">Комментарий</label>
						<div class="col-sm-9 pb-2">
							<input type="text" name="comment" class="form-control" id="inputComment" placeholder="Комментарий">
						</div>
					</div>							 
				</form> 
			</div>
			<div class="modal-footer col-lg-12 col-5">
				<a class="theme_button" href="#" data-dismiss="modal">Отмена</a>

				<button class="theme_button color1" type="submit" form="add_car_cost">СОХРАНИТЬ </button>
			</div>
		</div>
	</div>
</div>


{% for car_cost in car_costs %}
<div class="modal" id="id{{car_cost.slug}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="text-uppercase pt-3"> Редактировать расход </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body col-lg-12 col-12">
				<form id="edit_car_cost{{ car_cost.slug }}" class="form" action="{% url 'car_costs_edit' car_cost_slug=car_cost.slug %}" method="POST">
					{% csrf_token %}
					<div class="form-group row">
						<label for="inputDate" class="col-sm-3 col-form-label pb-2">Дата документа</label>
						<div class="col-sm-9 pb-2">
							<input type="date" name="cost_date" class="form-control" id="inputDate" value="{{ car_cost.cost_date|date:'Y-m-d' }}">
						</div>
						<label for="inputNum" class="col-sm-3 col-form-label pb-2">Номер документа</label>
						<div class="col-sm-9 pb-2">
							<input type="text" name="cost_num" class="form-control" id="inputNum" placeholder="Номер документа" value="{{ car_cost.cost_num }}">
						</div>
						<label for="inputCar" class="col-sm-3 col-form-label pb-2">Автомобиль</label>
						<div class="col-sm-9 pb-2">
							<select class="form-control" id="inputCar" name="car" form="edit_car_cost{{ car_cost.slug }}" required>
							{% if car_cost.car %}
							<option selected value="{{ car_cost.car }}">{{ car_cost.car }}</option>
							{% else %}
							<option selected value="">...</option>
							{% endif %}		
							{% for car in cars %}
							<option value="{{ car }}">{{ car }}</option>
							{% endfor %}
							</select> 
						</div>
						<label for="inputCostitem" class="col-sm-3 col-form-label pb-2">Статья затрат</label>
						<div class="col-sm-9 pb-2">
							<select class="form-control" id="inputCostitem" name="cost_item" form="edit_car_cost{{ car_cost.slug }}" required> 
							{% if car_cost.cost_item %}
							<option selected value="{{ car_cost.cost_item.title }}">{{ car_cost.cost_item.title }}</option>
							{% else %}
							<option selected value="">...</option>
							{% endif %}
							{% for cost_item in cost_items_with_parent %}
							<option value="{{ cost_item }}">{{ cost_item.title }}</option>
							{% endfor %}
							</select> 
						</div>
						<label for="inputSumm" class="col-sm-3 col-form-label pb-2">Сумма</label>
						<div class="col-sm-9 pb-2">
							<input type="text" name="summ" class="form-control" id="inputSumm" placeholder="Сумма" required value="{{ car_cost.summ }}">
						</div>
						<label for="inputComment" class="col-sm-3 col-form-label pb-2">Комментарий</label>
						<div class="col-sm-9 pb-2">
							<input type="text" name="comment" class="form-control" id="inputComment" placeholder="Комментарий"  value="{{ car_cost.comment }}">
						</div>
					</div>							 
				</form> 
			</div>
			<div class="modal-footer col-lg-12 col-5">
				<a class="theme_button" href="#" data-dismiss="modal">Отмена</a>

				<button class="theme_button color1" type="submit" form="edit_car_cost{{ car_cost.slug }}">СОХРАНИТЬ </button>
			</div>
		</div>
	</div>
</div>
{% endfor %}

{% endblock %}